<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @click="cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="title">Change password</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Old password</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" v-model="oldPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">New password</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" placeholder="" v-model="newPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Confirm password</label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" placeholder="" v-model="cfrPassword">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="submit">Submit</button>
                <button type="button" class="btn btn-default" @click="cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>